.complete-settle{
    margin: 2rem 1rem;
    display: flex;
    justify-content: space-between;
}
.card-title{
    font-size: 13px !important;
}
.card-body p {
    font-size: 26px !important;
    font-weight: 600;
    margin-top: -7px;
}
.card-body{
    padding: 11px !important;
}
.card-border{
    max-width: 540px;
     border-radius: 1rem;
}
.months{
    margin-top: 8rem;
}
.graph{
  width: 100%;
  height: 22rem;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.shop{
    display: none;
}
.nav1{
    display: none;
}
.middle-board{
    width: 80%;
}
.r1{
    padding: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}




/* SIDEBAR  */

body {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0px 2px 8px 0px #C4CAD4;
}

.sidenavbrand {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: thin solid #F3F4F6;
    margin-bottom: .5rem;
}

.sidenav-options {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.sidenav-options a {
    margin: .5rem 0 1.5rem;
}


/* END SIDEBAR */






/* Header CSS */

body{
    padding: 0px;
    margin: 0px;
}
.logo img{
    width: 6rem;
}
.main-nav{
   
    align-items: baseline !important;
    margin-left: 7rem;
}
.search-box input{
    width: 24rem !important;
    height: 3rem;
    border-radius: 2rem;
}
.nav-cart li{
    margin-right: 2rem;
}

.nav-margin li a{
    margin: 0 1rem;
}
.search-button{
    background-color: white;
    border-radius: 0 2rem 2rem 0;
    align-items: center;
    display: flex;
}
.search-button:hover{
    background-color: white;
}
.toggle-button{
    right: 2rem;
    position: fixed;
}
.shop{
    margin-left: 5rem;
}
.dot {
    height: 34px;
    width: 34px;
    background-color:#fff107;
    border-radius: 50%;
    display: inline-block;
  }
.search-button img{
    width: 1rem;
    margin-top: 0.2rem;
}
.cat{
    margin: 0.5rem;
    height: 35px;
    width: 35px;
    background-color: #fff107;
    border-radius: 15%;
    display: inline-block;
}
.dropdown-toggle::after{
    display: none;
}
.nav1{
    margin-left: 5rem;
}
.drop{
    border-right: 1px solid grey;
}
@media screen and (max-width: 1377px) {
    .search-box{
        display: none;
    }
    
}


/* END HEADER CSS */




/* Media Query Mobile devices */

@media (min-width:350px) and (max-width: 520px){
    .sidebar {
        height: 10vh;
        position: fixed;
        bottom: 0;
        background-color: #ffffff;
        z-index: 1;
    }

    .sidenavbrand {
        display: none;
    }

    

    .sidenav-options {
        margin-top: 0;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    .nav-cart {
        margin-right: 1rem;
    }
    .main-nav {
        margin-left: 1rem;
    }
    .cart-icon{
        display: none;
    }
    .shop{
        display: block;
        margin-left: 0rem;
    }
    .nav1{
        display: block;
    }
    .user{
        display: none;
    }
.middle-res{
    display: flex;
    flex-direction: column-reverse;
}
.months {
    margin-top: 2rem;
}
.complete-settle{
    display: none;
}
.nav1{
    position: absolute;
    right: 1rem;

}
.toggle-button{
    position: relative;
    right: 0;
}
.middle-board{
    width: 100%;
}
}